<section class="wrapper">

<% if @over_ten %>
	<%= link_to "Show Previous", "?m=all" %>
<% end %>

<% @messages.each do |message| %>
  <% if message.body %>
  	<% @user = User.find(message.user_id) %>
  
  <div class=”item”>
    <div class=”content”>
    	<div class=”header”>
    		At <%= message.message_time %> <strong><%= @user.email %> wrote:</strong>
    	</div>
       <%= message.body %>
    </div>
  </div>

 	<% end %>
<% end %>

You are chatting with <%= @inquiry.recipient.email %>
About <%= @inquiry.try(:listing).try(:title) %>

<%= form_for [@inquiry, @message], html: {class: "ui reply form"} do |f| %>
	<div class="field">
		<%= f.text_area :body, class: "form-control" %>
 	</div>
 	
 	<%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 	<div>
 		<%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
 	</div>
<% end %>

</section>