<section class="wrapper">

	Profile for <%= @profile.user.email %>
	<%= @profile.city %>
	<%= @profile.country %>
	<%= image_tag @profile.avatar.url(:thumb) %>

	<% if current_user == @profile.user %>
		<%= link_to "Edit Profile", edit_user_profile_path %>
	<% end %>
</section>