<section class="wrapper">

<% if @listing.user == current_user %>
	<%= link_to "Edit #{@listing.title}", edit_listing_path %>
	<%= link_to "Delete #{@listing.title}", listing_path(@listing), method: :delete %>
<% end %>

<% if @listing.user != current_user %>
	<%= link_to "Add to my watchlist - #{@listing.title}", listing_watch_path(@listing), method: :post %>
<% end %>

<% if @listing.tags.any? %>
<ul>
	Tags:
	<% @listing.tags.each do |tag| %>
	<li>
  	<%= tag.name %>
	</li>
	<% end %>
</ul>
<% end %>

<ul>
<li>Listing Title: <%= @listing.title %></li>
<li>Category: <%= @listing.category.name %></li>
<li>Subtitle: <%= @listing.try(:subtitle) %></li>
<li>Description: <%= @listing.try(:description) %></li>
</ul>

<% @listing.photos.each do |photo| %>
	<%= image_tag photo.image.url(:thumb) %>
<% end %>

 <%= form_for [@listing, @offer], :html => {:multipart => true} do |f| %>
    <%= f.label :team_one %>
    <%= f.select :team_one, Team.all.collect {|team| ["#{team.team_player_one}" + " " + "#{team.team_player_two}", team.id] }, class: "form-control" %>
    <%= f.select :team_one_score, (0..10), class: "form-control" %>
    <br>
    <%= f.label :team_two %>
    <%= f.select :team_two, Team.all.collect {|team| ["#{team.team_player_one}" + " " + "#{team.team_player_two}", team.id] }, class: "form-control" %>
    <%= f.select :team_two_score, (0..10), class: "form-control" %>
    <br>
    <br>
    <%= f.submit "Create Match!", class: "btn 200-width btn-primary" %>
  <% end %>


<li>Listed by <%= @listing.user.email %></li>
<%= link_to "View Seller's Profile", user_path(@listing.user.id) %>

<%= link_to "Contact the Seller", inquiries_path(sender_id: current_user.id, recipient_id: @user.id, listing_id: @listing.id), method: 'post' %>

</section>