<section class="wrapper">

<% if @listing.user == current_user %>
	<%= link_to "Edit #{@listing.title}", edit_listing_path %>
	<%= link_to "Delete #{@listing.title}", listing_path(@listing), method: :delete %>
<% end %>

<% if @listing.user != current_user %>
	<%= link_to "Add to my watchlist - #{@listing.title}", listing_watch_path(@listing), method: :post %>
<% end %>

<% if @listing.tags.any? %>
<ul>
	Tags:
	<% @listing.tags.each do |tag| %>
	<li>
  	<%= tag.name %>
	</li>
	<% end %>
</ul>
<% end %>

<ul>
<li>Listing Title: <%= @listing.title %></li>
<li>Category: <%= @listing.category.name %></li>
<li>Subtitle: <%= @listing.try(:subtitle) %></li>
<li>Description: <%= @listing.try(:description) %></li>
</ul>

<% @listing.photos.each do |photo| %>
	<%= image_tag photo.image.url(:thumb) %>
<% end %>

<li>Listed by <%= @listing.user.email %></li>
<%= link_to "View Seller's Profile", user_path(@listing.user.id) %>

<%= link_to 'Start conversation', new_inquiry_path, class: 'btn btn-lg btn-primary' %>

<%= link_to "Contact the Seller", new_inquiry_path(:user => @user.id, :listing => @listing.id), class: "btn btn-large btn-primary" %>

</section>