<section class="wrapper">
<% page_header "Conversation" %>

<p>Message history with
  <%= render 'conversations/participants', conversation: @conversation %>
</p>
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <div class="media">
          <%= @conversation.subject %>
          <% message = receipt.message %>

          <h4>
          <%= message.sender.email %>
          says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h4>
          <p><%= message.body %></p>
        </div>
      <% end %>
    </div>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
  </div>
  <%= submit_tag "Send Message", class: 'btn btn-primary' %>
<% end %>

</section>