<section class="wrapper">

<% if URI(request.referer || '').path == '/users/sign_up' %>
	<h4>You are now signed up - please complete some profile information about yourself.</h4>
<% else %>
	<h4>Edit your profile and update</h4>
<% end %>

	<%= form_for @user, :url => user_path, html: {multipart: true} do |f| %>
	  <%= f.text_field :house_number, placeholder: "House Number/Name" %>
	  <%= f.text_field :street_address, placeholder: "Street" %>
	  <%= f.text_field :city, placeholder: "City" %>
	  <%= f.text_field :postal_code, placeholder: "Postal Code" %>
	  <%= f.country_select :country %>
	  <%= f.file_field :avatar %>
	  <%= f.button :submit %>
	<% end %>

</section>