<!DOCTYPE html>
<html>
<head>
  <title>RailsMarketplace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
	  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
	<% else %>
	  <%= link_to "Sign in", new_user_session_path %>
	  <%= link_to "Sign up", new_user_registration_path %>
	<% end %>

	<%= link_to "My Profile", current_user %>
	<%= link_to "All Listings", listings_path %>

	<% if flash && flash[:alerts] %>
  <div class="container">
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <% flash[:alerts].each do |error| %>
        <%= error %>
      </div>
    <%end%>
  </div>
<%end%>

<% if flash && flash[:notices] %>
  <div class="container">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <% flash[:notices].each do |error| %>
        <%= error %>
      </div>
    <%end%>
  </div>
<%end%>


	<%= yield %>

</body>
</html>
